body {
    margin: 0;
    padding: 0;
    background:#ffffff;
    font-family: georgia, 'times new roman', serif;
}

/* basic site styling */

.header-top {
    height:20px;
    width:100%;
    background-color:#000000;
}

#banner-width {
    width:100%;
    background:#9cf22b;
    clear:both;
    zoom:1;
    overflow:auto;
}

#banner {
    margin:0 auto;
    width:80%;
}


#banner h1 {
    margin: 0;
    padding: 0;
    color:#000000;
    font-weight:800;
    font-size:30px;
    font-family:'Open Sans', verdana, sans-serif;
}


#banner h2 {
    font-weight:200;
    font-size:20px;
    margin:0;
    padding:0;
    font-family:'Open Sans', verana, sans-serif;
}


#logo {
  width:50%;
  float:left;
  padding:10px 0 0 0;
  margin:0;
  }

#nav {
  width:50%;
  padding:0;
  margin:0;
  float:right;
  }

#nav ul {
  margin:0;
  float:right;
}
#nav ul li {
  float:left;  
  border-left:1px solid #fff;
  list-style-type:none;
  display:inline;
  min-width:100px;
  height:100%;
  text-align:center;
  font-family:'Open Sans', verdana, sans-serif;
  font-weight:700;
  padding:40px 0;
  margin:0;
}


#nav ul li:last-child {
    border-right:1px solid #fff;
    }

    /* containers */



    #content{
        background: #FFF;
}

div#content > a > img { /* github banderole */
    position: absolute; top: 0; right: 0; border: 0;
}







/* main content area */
#content {
    padding-top: 1em;
    margin: 0 auto;
    width:80%;
}

#content img {
    margin: 0 0 15px 15px;
}

#content h1 {
    font-weight:bold;
}

code {
    /* font & text */
    font-family: monospace;
    font-size: 14px;
    line-height: 14px;
    white-space: pre;

    /* color & background */
    background-color: #fffae5;
    background-position: 0% 0%;
    color: #000000;

    /* box */
    width: 95%;
    border: 1px dashed #f0c931;
    margin: 3px 0 13px 0;
    padding: 4px;
}

pre code {
    /* positioning */
    display: block;
}





/* footer */

#footer-width {
    width:100%;
    background:#000;
    }

    #footer {
        padding: 2em 0;
        width:80%;
        margin:0 auto;
        text-align:center;
        color:#f9f9f9;
        font-family:'Open Sans', verdana, 'sans-serif';
        font-weight:100;
}

#footer a {
    color:#9cf22b;
    }
