<div class="header-top"></div>

<div id="banner-width">
    <div id="banner">

        <div id="logo">
            <h1><a href="/">89 Starts: <span style="font-size:.8em;font-weight:200;">A guide to getting started in open source</a></h1>
        </div>

        <div id="nav">
            <ul>
                <li>list</li>
                <li>help</li>
                <li>start</li>
                <li>search</li>
            </ul>
        </div>
    </div>
</div>
