<div class="header-top"></div>

<div id="banner-width">
    <div id="banner">

        <div id="logo">
            <h1>89 Starts</h1>
            <h2>A guide to getting started in open source</h2>
        </div>

        <div id="nav">
            <ul>
                <li>list</li>
                <li>help</li>
                <li>start</li>
                <li>search</li>
            </ul>
        </div>
    </div>
</div>
