<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>
            89starts.com -- A guide to getting started in open source
        </title>
        <link rel="stylesheet" type="text/css" href="[% base %]/89starts.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900' rel='stylesheet' type='text/css'>

  </head>
    <body>

        [% PROCESS header.tt %]

        <div id="content">

          [% body %]
          
          
            <a href="http://github.com/petdance/89starts"><img
              src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"
              height="149" width="149"
              /></a>
        </div>
        <div style="clear:both;"></div>
        [% PROCESS footer.tt %]
        [% PROCESS 'google-analytics.html' %]
    </body>
  </html>
  
